//////////////////////////////////////////////////////
///     About Us Styles
//////////////////////////////////////////////////////

#about-main-banner {
    background: url(../images/office.jpg) 0 60% no-repeat;
    background-size: cover;
    margin: auto;
    height: 350px;
}

// This padding type should be "mid padding" class
.about-section {
    padding: 75px 50px 75px 50px; 
}

.about-section .button{
    width: 141px;
    margin: auto;
    margin-top: 50px;
}

/////////////////////////////////////////////////////////////////
/// Testimonials Section Styles

.testimonials {

}
